.edit_table{
  margin:auto;
  padding: 20px 20px 10px 20px;
  border: 2px solid;
  width: 95%;
}

.download_table{
  padding: 20px 26px 10px 20px;
  width: 100	%;
}
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding-right: 50px;
}

.cleft {
	width: 40%;
}
.cright {
	width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.tr2{
	border:1px solid;
	text-align: center;
}

.td2{
	border:1px solid;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.button3{
	margin: auto;
}

/*********************************************************以下彈出視窗的css

/* The Modal (background) 
.modal {
  margin: 0 auto auto auto;
  display: none;
  position: fixed;
  padding-top: 5px;
  width: 20%;
  height: 28%;
  background-color: #FFFFF0;
  border:2px solid;
  border-radius:10px;
}

.close {
  color: black;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.cursor {
  cursor: pointer
}*/
